<center>

	

<h2><span class='color'> Welcome</span> <%= current_user.first_name %></h2>
<br><br>
Get started by texting your request to this number:<br>
	<h3> 678.xxx.xxxx </h3><br>
	

	<br><br><br><br>
<div class = 'container'>
	<table class="table table-hover" style = 'width: 70%'>
			<thead>
				<tr>
					<th> ID </th>
					<th> Date </th>
					<th>Service</th>
					<th>Charge</th>
					<th>Feedback</th>
				</tr>
			</thead>
	<tbody>
		<% Order.all.each do |orders| %>
	 <tr>
	 	  <td><%= orders.user.id %></td>
	 	  <td><%= orders.created_at %></td>
	 	  <td><%= orders.service %></td>
	 	  <td><%= orders.charge %></td>
	   <td>
	    
					    	<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Leave Feedback</button>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <center><h4 class="modal-title">Leave Feedback</h4></center>
				      </div>
				      <div class="modal-body">
				        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
				      </div>
				    </div>

				  </div>
				</div>
		</td>
	
	   
	  </tr>
	 <% end %>
	</tbody>
	</table>
</div>
<br><br>
<h2>Quicklinks</h2>
<br>
Ideas<br>
How to Get Started<br>
Support<br>
Blog<br>
Knowledgebase<br>
Billing Support<br>
Forum<br>
<br><br><br>
</center>


