<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @order.service %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @order.charge %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
