

<!DOCTYPE html>
<html class ='html'>
<head>
  <title>Accent Global</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/', 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag "Stripe.publishableKey = '#{Rails.configuration.stripe[:publishable_key]}';", type: 'text/javascript' %>

   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

  
  <%= csrf_meta_tags %>
  

</head>
<body class = 'body'>
  <% if user_signed_in? %>
    <div id="header-wrap">


    <div class="menu">

      <!-- Menu icon -->
      
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      <!-- Menu -->
       
                <ul>
                  <center>
                  <li><h2>@<%= current_user.first_name %><%= current_user.last_name %></h2></li> 
                  <hr style='width: 200px;color: black;'>
                  <% if admin_signed_in? %>
                    <li><%= link_to "Home", '#' %></li>
                    <li><%= link_to "Users", '#' %></li>
                    <li><%= link_to "History", '#' %></li>
                    <li><%= link_to "Log out",  destroy_user_session_path, method: :delete %></li>
                  <%else%>
                  <li><%= link_to "Dashboard", dashboard_path %></li>
                  <li><a href="sms:/* 6154842917 */&body=/* I'm Ready */">Request(Mobile Only)</a></li>
                  
                  <li><%= link_to "Settings", edit_user_registration_path %></li> 
                  <li><%= link_to "Share", 'http://http://althealth2.weebly.com/share.html' %></li> 
                    
                  <li><%= link_to "Log out",  destroy_user_session_path, method: :delete %></li> 
                  <%end%>
                </center>
                </ul>  
        
        
                
     
        
        <br><br>
        <center><p>© 2014-2015 Accent Global</p></center>
    </div>

    <!-- Main body -->
    
  
       <div class="icon-menu">
       <i class="fa fa-bars"></i>
        <span class="color">ACCENT</span>
      </div>
<%else%>
<%end%>
      
 

<div class = 'content'>
  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>
<%= yield %>
</div>



  <script>
      var c=0, words=['Welcome','Bienvenido','Namaste','Welkom','Bienvenue'];


      function loop(){
        $('h2 span').delay(2000).fadeTo(800,0,function(){
           $(this).text( words[++c%words.length]).fadeTo(800,1,loop);
        });
      }

      loop();

  </script>


<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('3209-637-10-7675');/*]]>*/</script><noscript><a href="https://www.olark.com/site/3209-637-10-7675/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->


</body>
</html> 